@use "../1-base/variables"

#details
    width: 80%
    margin: 0 auto

    .detail
        display: flex
        align-items: flex-start
        justify-content: space-between
        gap: 5%
        margin-bottom: 4em

        img
            width: 50%

        h3
            margin-bottom: 1em
            font-size: 2em
            font-weight: 500

        .detail-description
            width: 100%
            padding-left: 2em

            ul
                list-style-position: inside

                li
                    margin-bottom: 0.4em

                    &:last-child
                        font-weight: bold

    #detail-1
        h3
            font-size: 3em
            font-weight: 700

    #detail-3
        .detail-description
            justify-self: flex-start