* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-5.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
#event-subscription #disclaimer h2, #event-subscription #disclaimer .event-date {
  color: #eb1ccc;
}
#event-subscription #disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}
#event-subscription #disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
}
#event-subscription #disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
#event-subscription #disclaimer .event-date {
  font-weight: bold;
}
#event-subscription #subscription-form {
  background-color: #95989a;
  padding: 2em;
  max-width: 22%;
}
#event-subscription #subscription-form p {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 1em;
}
#event-subscription #subscription-form form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
#event-subscription #subscription-form form .form-group label {
  color: #5d5d5d;
  margin-bottom: 0.3em;
  font-weight: bold;
}
#event-subscription #subscription-form form .form-group input, #event-subscription #subscription-form form .form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#key-benefits h2 {
  background-color: #95989a;
  text-align: center;
  padding: 2em;
  font-weight: 500;
}
#key-benefits .benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}
#key-benefits .benefits .benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: #5d5d5d;
}
#key-benefits .benefits .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}
#key-benefits .benefits .benefit #benefit-1 {
  background-image: url("../img/sqr-1.jpg");
}
#key-benefits .benefits .benefit #benefit-2 {
  background-image: url("../img/sqr-2.jpg");
}
#key-benefits .benefits .benefit #benefit-3 {
  background-image: url("../img/sqr-3.jpg");
}

#location {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 3em;
}
#location #address, #location #about-location {
  max-width: 30%;
}
#location #address {
  display: flex;
}
#location #address i {
  color: #eb1ccc;
  font-size: 4em;
  margin-right: 0.5em;
}
#location #address #address-details {
  text-align: center;
  font-size: 1.3em;
}
#location #about-location h3 {
  color: #eb1ccc;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}
#location #about-location p {
  line-height: 1.5em;
}

#details {
  width: 80%;
  margin: 0 auto;
}
#details .detail {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5%;
  margin-bottom: 4em;
}
#details .detail img {
  width: 50%;
}
#details .detail h3 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
}
#details .detail .detail-description {
  width: 100%;
  padding-left: 2em;
}
#details .detail .detail-description ul {
  list-style-position: inside;
}
#details .detail .detail-description ul li {
  margin-bottom: 0.4em;
}
#details .detail .detail-description ul li:last-child {
  font-weight: bold;
}
#details #detail-1 h3 {
  font-size: 3em;
  font-weight: 700;
}
#details #detail-3 .detail-description {
  justify-self: flex-start;
}

#cta {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/hrz-6.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
#cta h3 {
  margin-bottom: 1.2em;
  font-size: 2em;
  font-weight: 500;
}
#cta .btn {
  width: 30%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
}

#footer {
  text-align: center;
  color: #95989a;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer h3 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
#footer p:nth-child(2) {
  margin-bottom: 1em;
  font-size: 1.2em;
}
#footer span {
  font-weight: bold;
}

.btn {
  background-color: #eb1ccc;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
