@use '../1-base/variables'
@use '../1-base/_base-mixins'

#clients
    background: variables.$secondary-color
    color: variables.$primary-color

    &-container
        display: grid
        grid-template-columns: repeat(4, 1fr)
        justify-items: center
        padding: 15px

        @include base-mixins.mobile
            grid-template-columns: repeat(2, 1fr) 

        .client
            display: inline-block
            width: 25%

            @include base-mixins.mobile
                width: 50%
            
