@use '../1-base/variables'
@use '../1-base/_base-mixins'

#features
    background: variables.$third-color
    color: variables.$secondary-color

    &-container
        width: 100%
        margin: auto
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 50px

        @include base-mixins.mobile
            grid-template-columns: 1fr

        .feature
            display: flex
            flex-direction: column
            background: variables.$fourth-color
            padding: 20px
            border-radius: 5px

            @include base-mixins.mobile
                &:nth-child(2)
                    margin: 15px 0
                

            &-title
                font-size: 1.5rem
                font-weight: bold
