@use '../1-base/variables'

#navbar
    width: 100%
    height: 80px
    background: variables.$primary-color
    color: variables.$secondary-color

    &-container
        width: 80%
        height: 100%
        margin: auto
        display: flex
        justify-content: space-between
        align-items: center

        .logo
            font-size: 2rem

        #navbar-items
            display: flex
            list-style: none
            text-transform: uppercase

            li
                padding: 10px
    