@use '../1-base/variables'

#navbar
    width: 100%
    height: 80px
    background: variables.$bg-color
    color: variables.$text-color

    &-container
        width: 80%
        height: 100%
        margin: auto
        display: flex
        justify-content: space-between
        align-items: center

        .logo

        #navbar-items

    