@use '../1-base/variables'
@use '../1-base/_base-mixins'

#product
    &-container
        display: flex
        justify-content: center
        align-items: center

        @include base-mixins.mobile
            flex-direction: column

        #items
            width: 650px

            @include base-mixins.mobile
                width: 90%

            .item
                display: flex
                padding: 10px
                margin: 15px 0
                font-size: 1.2rem

                @include base-mixins.mobile
                    flex-direction: column
                    text-align: center
                    align-items: center
